<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Document</title>
        <!-- OG Tags -->
        <!-- https://metatags.io/ -->
        <!-- OG Tags -->

        <!-- цвет адресной строки и уведомлений -->
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <!-- IE -->
        <link rel="shortcut icon" href="resources/favicons/favicon.ico" type="image/x-icon">
        <!-- IE -->

        <!-- Browser -->
        <link rel="icon" sizes="any" href="resources/favicons/favicon.ico">
        <link rel="icon" sizes="any" href="resources/favicons/favicon.svg" type="image/svg+xml">
        <link rel="icon" sizes="16x16" href="resources/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="resources/favicons/favicon-32x32.png" type="image/png">
        <link rel="icon" sizes="96x96" href="resources/favicons/favicon-96x96.png" type="image/png">
        <link rel="icon" sizes="120x120" href="resources/favicons/favicon-120x120.png" type="image/png">
        <!-- Browser -->

        <!-- Android -->
        <link rel="manifest" href="resources/manifest/manifest.json">
        <!-- Android -->

        <!-- IOS -->
        <!-- Отступы иконки должны быть не менее 4px со всех сторон из-за автоматического скругления IOS -->
        <link rel="apple-touch-icon" sizes="57x57" href="resources/favicons/favicon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="resources/favicons/favicon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="resources/favicons/favicon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="resources/favicons/favicon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="resources/favicons/favicon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="resources/favicons/favicon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="resources/favicons/favicon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="resources/favicons/favicon-152x152.png">

        <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/favicon-180x180.png">
        <!-- IOS -->


        <link rel="stylesheet" href="css/style.min.css">
    </head>
    <body class="body">
        @include('../modules/header/header.html')

        <!-- https://vk.com/@vk_it-webp?t2fs=232db2370e4cfe3c00_3 -->
        <script src="js/import/modernizr-webp.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>